# Базовая часть

## Задание 1.1

Напишите функцию, которая принимает список чисел my_list (количество товаров разных марок) и число $n$ и возвращает сумму всех чисел списка меньше либо равных $n$ (суммарное количество товаров, которых в наличие меньше либо равно $n$).

In [2]:
def function_1_1(my_list, n):
    '''функция, которая принимает список чисел my_list и число  n
    и возвращает сумму всех чисел списка меньше либо равных  n
    '''
    return sum(filter(lambda x: x <= n, my_list))

In [3]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 7) == 31

True

In [4]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 7) == 20

True

In [5]:
function_1_1([1, 2, 3, 4, 4, 3, 2, 1], 3) == 12

True

In [6]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 5) == 18

True

In [7]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 3) == 9

True

In [8]:
function_1_1([1, 2, 3, 4, 5, 6, 3, 7], 0) == 0

True

## Задание 1.2

Имеется список пар (фамилия, долг) $my\_list$ и число $dept$. Нужно написать функцию, которая для каждой фамилии находит суммарный долг и выводит отсортированный список фамилий, у которых долг строго больше $dept$.

Одна и та же фамилия может встречаться несколько раз, и тогда долги по ней суммируются.

In [257]:
def function_1_2(my_list, dept):
    '''функция, которая для каждой фамилии в my_list(фамилия, долг)
    находит суммарный долг и выводит отсортированный список фамилий,
    у которых долг строго больше dept.
    '''
    from collections import OrderedDict
    r = OrderedDict()
    for i in my_list:
        r[i[0]] = r.get(i[0], 0) + i[1]
    return sorted([a for a, b in r.iteritems() if b > dept])

In [258]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 1) == ['Ivanov', 'Petrov', 'Sidorov']

True

In [259]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 2) == ['Ivanov', 'Sidorov']

True

In [260]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 3) == ['Sidorov']

True

In [261]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Sidorov', 4)], 4) == []

True

In [262]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 1), ('Sidorov', 4)], 2) == ['Sidorov']

True

In [263]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 2) == ['Ivanov', 'Petrov']

True

In [264]:
function_1_2([('Ivanov', 1), ('Petrov', 2), ('Ivanov', 2), ('Petrov', 4)], 3) == ['Petrov']

True

# Продвинутая часть

## Задание 2.1

Напишите функцию, принимающую число $n$ и считающую $n!$, не используя модуль math

$n! = 1 \cdot 2 \cdot 3 \cdot \dots \cdot (n - 1) \cdot n$

Подсказка: воспользуйтесь функцией reduce или циклами

In [150]:
def function_2_1(n):
    '''функция, принимающая число  n  и считающую  n!, не используя модуль math
    '''
    return reduce((lambda x, y: x * y), range(1, n+1))

In [151]:
function_2_1(3) == 6

True

In [152]:
function_2_1(5) == 120

True

In [153]:
function_2_1(9) == 362880

True

In [154]:
function_2_1(13) == 6227020800

True

In [155]:
import math

for n in xrange(1, 21):
    print math.factorial(n) == function_2_1(n)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

## Задание 2.2

Есть два списка чисел: цены товаров в одном магазине и цены товаров в другом магазине.

Нужно сравнить средние (среднее берётся по всем товарам) цены, минимальные цены и максимальные  в магазинах. Если первое зачение меньше надо вернуть 'First', если второе, то 'Second', а если равны, то 'Equal'

Например, function_2_2([1, 2, 3], [2, 2, 2])

В первом магазине среднее значение 2, минимальное 1, максимальное 3. А во втором среднее 2, минимальное 2 и максимальное 2.

Результаты сравнения $2 = 2,~1 < 2,~3 > 2$, поэтому нужно вернуть  ('Equal', 'First', 'Second')

In [286]:
def function_2_2(list1, list2):
    '''Функция сравнивает среднее, минимальное и максимальное значение
    по двум спискам. Если первое значение меньше надо вернуть 'First',
    если второе, то 'Second', а если равны, то 'Equal.
    '''
    funcs = [
        lambda x: (float(sum(x))/len(x)),
        lambda x: min(x),
        lambda x: max(x)
    ]
    v = list()
    for l in [list1, list2]:
        v.append(map((lambda x: x(l)), funcs))
    y = list()
    for a, b in zip(v[0], v[1]):
        x = cmp(a, b)
        if x == 0:
            y.append('Equal')
        elif x == -1:
            y.append('First')
        elif x == 1:
            y.append('Second')
        else:
            raise NameError('Compairing lists ERROR')
    return tuple(y)

In [287]:
function_2_2([1, 2, 3], [2, 2, 2]) == ('Equal', 'First', 'Second')

True

In [288]:
function_2_2([2, 2, 1], [4]) == ('First', 'First', 'First')

True

In [289]:
function_2_2([3, 5], [2, 4, 6]) == ('Equal', 'Second', 'First')

True

In [290]:
function_2_2([1, 7], [2, 4, 7]) == ('First', 'First', 'Equal')

True

# Сложная часть

## Задание 3.1

Вам известны количество продаж разных товаров. Они представлены в виде списка, первое значение - число продаж первого товара, второе значение - второго, и так далее. Вы хотите посмотреть на список самых популярных товаров среди тех, у которых объём продаж не выше заданного числа.

Напишите функцию, которая принимает список чисел my_list, число  $n$ и число $k$  и возвращает сумму $k$ наибольших чисел среди всех чисел списка меньше либо равных  $n$ .

In [274]:
def function_3_1(my_list, n, k):
    '''функция возвращает сумму k наибольших чисел из списка меньше либо равных n
    '''
    return sum(list(reversed(sorted(filter(lambda x: x <= n, my_list))))[0:k])

In [275]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 1) == 7

True

In [276]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 3) == 18

True

In [277]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 5) == 25

True

In [278]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 8) == 31

True

In [279]:
function_3_1([1, 2, 3, 4, 5, 6, 3, 7], 7, 10) == 31

True

In [280]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 3) == 18

True

In [281]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 3) == 13

True

In [282]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 3) == 7

True

In [283]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 6, 2) == 12

True

In [284]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 5, 2) == 10

True

In [285]:
function_3_1([1, 5, 3, 6, 5, 6, 3, 6], 4, 2) == 6

True

## Задание 3.2

Напишите списковое выражение, генерирующее все простые числа не больше заданного числа

In [543]:
def function_3_2(n):
    '''Списковое выражение,
    генерирующее все простые числа не больше заданного числа.
    Вообще-то детериминированный алгоритм в генератор не запихнёшь,
    так что вот Вам вероятностный, сломается на числах Кармайкла.
    '''
    return [
        x for x in xrange(2, n+1) if x == 2 or
        (x & 1 == 1 and pow(2, x-1, x) == 1)
    ]

In [544]:
function_3_2(3) == [2, 3]

True

In [545]:
function_3_2(10) == [2, 3, 5, 7]

True

In [546]:
function_3_2(20) == [2, 3, 5, 7, 11, 13, 17, 19]

True

# Опциональная часть (выполнять по желанию, если интересно)

## Задание 4.1

Напишите функцию, которая по множеству, возвращает список всех его подмножеств

In [ ]:
def function_4_1(my_set):
    # допишите код
    return

In [ ]:
def check_4_1(my_set, function_res):
    if len(function_res) != len(set(map(frozenset, function_res))):
        return False
    if len(function_res) != 2 ** len(my_set):
        return False
    return all(x <= my_set for x in function_res)

In [ ]:
check_4_1(set(range(10)), function_4_1(set(range(10))))

In [ ]:
check_4_1(set(range(1)), function_4_1(set(range(1))))

In [ ]:
check_4_1(set(range(20)), function_4_1(set(range(20))))

## Задание 4.2

Напишите функцию раскладывающее число на простые множители

по числу $n$ нужно вернуть список пар $(p_i, c_i)$ такой, что $\prod_i~p_i^{c_i} = n$

In [ ]:
def is_prime(n):
    return n > 1 and all(n % i != 0 for i in xrange(2, n))

def function_4_2(n):
    return [
        # допишите код здесь
    ]

In [ ]:
def check_4_2(n, my_list):
    prod = 1
    for p, c in my_list:
        if not is_prime(p):
            return False
        prod *= p ** c
    return prod == n

In [ ]:
check_4_2(10, function_4_2(10))

In [ ]:
check_4_2(11690, function_4_2(11690))

In [ ]:
check_4_2(254242, function_4_2(254242))